:root{
    --home-background: #F3FBFF;
    --grey:#979797;
    --red:#F03D24;
    --dark-blue:#110E3C;
    --less-dark-blue: #302E63;
    --yellow: #FFEB3B;
}
body{
    display: flex;
    background-color: var(--home-background);
    font-family: 'Lato', sans-serif;
    height: auto;
}
.home{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 60px;
}
header{
    padding: 40px 0px;
}
.header__box{
    display: flex;
    width: auto;
    height: auto;
}
.lupe-background{
    padding: 10px;
    background-color:white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
input{
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 200px;
}
.titles{
    width: 100%;
    margin-top: 20px;
}
.titles h1{
    font-size: 30px;
    margin-bottom: 50px;
}
.titles h3{
    font-size: 20px;
}
strong{
    font-weight: bold;
}
.cities-image{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}
.cities-image img{
    width: 220px;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 10px;
}
figcaption{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.week-forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
        "captions vazio vazio vazio vazio vazio"
        "captions probability-rain statusOfday min-temp graphic max-temp"
        "captions probability-rain statusOfday min-temp graphic max-temp"
        "captions probability-rain statusOfday min-temp graphic max-temp"
        "captions probability-rain statusOfday min-temp graphic max-temp"
        "captions probability-rain statusOfday min-temp graphic max-temp"
        "captions probability-rain statusOfday min-temp graphic max-temp"
        "captions probability-rain statusOfday min-temp graphic max-temp";
}
.cations{
    grid-area: captions;
}
.cations h4{
    font-size: 19px;
    font-weight: bold;
}
.cations p, .cations h4 {
    padding: 10px;
}
.cations p {
    font-size: 16px;
    padding: 15px;
}
.probability-rain{
    grid-area: probability-rain;
}
.probability-rain figcaption{
    padding: 10px;
    display: flex;
    flex-direction: row
}
.probability-rain img{
    width: 15%;
    margin-right: 5px;
}
.statusOfday{
    grid-area: statusOfday;
}
.statusOfday img{
    padding: 5px;
}
.minTemp{
    grid-area: min-temp;
}
.forecast{
    width: 40%;
    background-color: var(--dark-blue)
}